# Godot 4+ specific ignores
.godot/
/android/

export/

# GUT ignores

godot/test/xml_out/

.vscode/

godot/test/res/
godot/test/res/*.tres
godot/assets/tiles/EverHex-Forest Lite
godot/assets/tiles/Legacy-Fantasy - High Forest 2.0

